* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    display: flex;
    height: 85vh;
    justify-content: center;
}
.bigimage{
    display: flex;
    align-self: center;
    width: 500px;
    height: 500px;
    flex-direction: column;
}

.squarerow{
    display: flex;
    flex-direction: row;
}

.square {
    width: 163px;
    height: 163px;
    cursor: pointer;
}

img {
    width: 166px;
    height: 166px;
    margin: 0px;
}

.btn {
    display: flex;
    justify-content: center;
}

#random {
    width: 20vw;
    height: 10vh;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#random:hover  {
    color: white;
    background-color: black;
}
