* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    display: flex;
    height: 85vh;
    justify-content: center;
}

.bigimage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.squarerow{
    display: flex;
    flex-direction: row;
}

.square {
    flex: 1;
    cursor: pointer;
}

.square img {
    min-height: 100px;
}

.btn {
    display: flex;
    justify-content: center;
}

#random {
    min-width: 250px;
    height: 10vh;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#random:hover  {
    color: white;
    background-color: black;
}

@media screen and (max-width: 767px) {
    .square img {
        min-height: 70px;
    }
}