* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    display: flex;
    height: 98vh;
    justify-content: center;
}
.bigimage{
    display: flex;
    align-self: center;
    border: 20px black;
    width: 500px;
    height: 500px;
    flex-direction: column;
}

.squarerow{
    display: flex;
    flex-direction: row;
}

.square {
    min-width: 166px;
    min-height: 166px;
    background: blue;
    cursor: pointer;
}